# Veri Bilimi İçin İstatistik

In [2]:
import numpy as np

In [4]:
population = np.random.randint(0,80,10000)

In [11]:
population[0:10]

array([58, 70, 51,  4, 63, 51, 60, 73, 36, 46])

## Örneklem çekmek

In [38]:
np.random.seed(115)
sample = np.random.choice(a = population,size = 100)
sample[0:10]

array([ 6, 21,  9, 24,  2, 53, 33, 36, 37, 46])

In [40]:
sample.mean()

38.78

In [42]:
population.mean()

38.9746

## Örneklem Dağılımı

In [45]:
sample1=np.random.choice(a = population, size = 100)
sample2=np.random.choice(a = population, size = 100)
sample3=np.random.choice(a = population, size = 100)
sample4=np.random.choice(a = population, size = 100)
sample5=np.random.choice(a = population, size = 100)
sample6=np.random.choice(a = population, size = 100)
sample7=np.random.choice(a = population, size = 100)
sample8=np.random.choice(a = population, size = 100)
sample9=np.random.choice(a = population, size = 100)
sample10=np.random.choice(a = population, size = 100)

In [53]:
(sample1.mean()+sample2.mean()+sample3.mean()+
 sample4.mean()+sample5.mean()+sample6.mean()+
 sample7.mean()+sample8.mean()+sample9.mean()+
 sample10.mean()+sample11.mean())/10

42.06

In [55]:
sample1.mean()

38.41

In [57]:
sample2.mean()

38.98

## Betimsel İstatistik

In [3]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [7]:
!pip install researchpy
import researchpy as rp

Collecting researchpy
  Downloading researchpy-0.3.6-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: scipy in c:\users\iremb\anaconda3\lib\site-packages (from researchpy) (1.14.0)
Requirement already satisfied: numpy in c:\users\iremb\anaconda3\lib\site-packages (from researchpy) (1.26.4)
Requirement already satisfied: pandas in c:\users\iremb\anaconda3\lib\site-packages (from researchpy) (2.1.4)
Requirement already satisfied: statsmodels in c:\users\iremb\anaconda3\lib\site-packages (from researchpy) (0.14.2)
Requirement already satisfied: patsy in c:\users\iremb\anaconda3\lib\site-packages (from researchpy) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\iremb\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\iremb\anaconda3\lib\site-packages (from pandas->researchpy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\iremb\anaconda3\lib\site-packages (from pandas->researchpy) (2023.3)
Requirement already satisfied: six in c:\users\iremb\anaconda3\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\iremb\anaconda3\lib\site-packages (from statsmodels->researchpy) (23.1)
Downloading researchpy-0.3.6-py3-none-any.whl (34 kB)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.6

In [15]:
#sayısal değişkenler için betimsel istatistikler
rp.summary_cont(tips[["total_bill","tip","size"]])

C:\Users\iremb\anaconda3\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'total_bill' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix
C:\Users\iremb\anaconda3\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'tip' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix
C:\Users\iremb\anaconda3\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'size' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [17]:
#kategorik değişkenler için betimsel istatistikler
rp.summary_cat(tips[["sex","smoker","day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [19]:
tips[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [21]:
tips[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000